<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/Chart.js/Chart.min.js"></script>
    <script src="js/angles.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

<script type="text/ng-template" id="tabs.html">
  <ion-tabs class="tabs-icon-top tabs-positive">

      <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="About" icon="ion-ios-information" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
        <ion-nav-view name="contact-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
</script>

<script id="home.html" type="text/ng-template">
  <ion-view title="Lista">
    <ion-content padding="false" ng-init="init()">
    <button ng-if="!lista" class="button" ng-click="init()">
      Refrescar
    </button>
      <ul class="list">
        <a style="padding-top: 0; padding-bottom: 0; padding-right: 0;" class="item item-avatar" href="#/tab/station/{{station._id}}" ng-repeat="station in lista">
          <img src="http://www.grupopml.es/imgs/LogoRepsol.png">
          <div class="row">
          <div class="col col-75">
            <h2>{{station.rotulo}}</h2>
            <p>{{station.direccion}}</p>
            <p>{{station.municipio}}</p>
          </div>
          <div class="col">
          <p style="font-size: 1.2em; color: #FF8001">{{station.precio.dieselA}}&#x20AC;</p>
          <p>{{distance(station.loc[0], station.loc[1])}}</p>
          </div>
          </div>
        </a>
    </ul>
    </ion-content>
  </ion-view>
</script>

  <script id="about.html" type="text/ng-template">
    <ion-view view-title="About">
      <ion-content class="padding">
        <h3>Create hybrid mobile apps with the web technologies you love.</h3>
        <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
        <p>Built with Sass and optimized for AngularJS.</p>
        <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p>
      </ion-content>
    </ion-view>
  </script>

<script type="text/ng-template" id="lista.html">
<ion-view title="Lista">
  <ion-content padding="false">
    <ul class="list">
      <li class="item item-avatar" ng-click="accion(station._id)" ui-sref="lista.detalle" ng-repeat="station in lista">
        <img src="venkman.jpg">
        <div class="row">
        <div class="col col-75">
          <h2>{{station.rotulo}}</h2>
          <p>{{station.direccion}}</p>
          <p>{{station.municipio}}</p>
        </div>
        <div class="col">
        <p style="font-size: 1.2em; color: #FF8001">{{station.precio.dieselA}}&#x20AC;</p>
        <p>{{distance(station.loc[0], station.loc[1])}}</p>
        </div>
        </div>
      </li>
  </ul>
  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="detalle.html">
<ion-view title="Detalle" ng-init="obtenerDetalle()">
  <ion-content padding="false" >

    <div class="list card">
      <div class="item item-avatar">
        <img src="http://www.grupopml.es/imgs/LogoRepsol.png">
        <h2>{{station.station.rotulo}}</h2>
        <p>{{station.station.direccion}}</p>
      </div>


      <div class="item tabs tabs tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

      <div class="item item-body">
      <img style="width: 100%" src="https://maps.googleapis.com/maps/api/streetview?size=640x200&location={{station.station.loc[0]}},{{station.station.loc[1]}}" />
      <canvas chart="Line" options="options" data="chart" width="500" height="300"></canvas>

      </div>

    </div>
  </ion-content>
</ion-view>
</script>
  </body>
</html>
